@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
}
/* 982px */
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    scroll-behavior: smooth;
    text-decoration: none;
}
/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0 15px 0;
}
/* Main - Cuadro 1/Cuadro 2 - Display flex */
main {
    width: 100%;
    max-width: 2064px;
    display: flex;
    flex-wrap: wrap;
}
/* Cuadro 1 */
.box1 {
   width: 50%;
   background-color: #00a801;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 685px;
}
.box1 h1 {
    color: #ffff;
    font-size: 80px;
    margin: 15px 0 35px 0;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.box1 p {
    color: white;
    margin-bottom: 25px;
    font-size: 17px;
}
.bottomMain {
    width: 600px;
    height: 80px;
    border-radius: 45px;
    display: flex;
    background-color: rgb(238, 255, 4);
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 10;
    margin-top: 51px;
    box-shadow: 0px 0px;
    transition: 0.2s;
}
.bottomMain:hover {
    transform: translateY(-15px);
    box-shadow: 0px 14px;
    transition: 0.2s;
}
.bottomMain p {
    color: black;
    font-size: 20px;
}
.elementsBox1 {
    padding: 160px;
}
/* Cuadro 2 */
.box2 {
    width: 50%;
    height: 685px;
    background-color: grey;
    overflow: hidden;
}

/* Parte 2 de la foto de 3lbs only */
.content1 {
    width: 1400px;
    height: 635px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px 0 100px 0;
    background-color: rgb(236, 236, 236);
}

.cubeCon1 {
    width: auto;
}
.cubeCon1 img {
    width: 655px;
    margin: 0 15px 0 15px;
}
.cubeCon2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 45px;
}
.cubeCon2 h1 {
    color: #00a50e;
    font-size: 60px;
    margin: 15px 0 35px 0;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* Parte contenido 2 */

.content2 {
    width: 100%;
    display: grid;
    place-items: center;
    background-color: rgb(226, 226, 226);
    padding: 100px 0 100px 0;
}
.contentAjust {
    width: 1080px;
    text-align: center;
}
.videos {
    width: 1080px;
    height: 607px;
    display: flex;
    background-color: grey;
}
.videos video{
    width: 100%;
}
.content2 h1 {
    font-size: 70px;
    color: #00a50e;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.content2 p {
    font-size: 18px;
}
/* Parte de items  */
.elements2 {
    width: 1460px;
    display: flex; 
    justify-content: space-between;
    margin-top: 100px;
}
.foto {
    width: 430px;
    height: 566px;
}
.foto img {
    width: 100%;
}
.fotos {
    text-align: center;
}
.subvideo {
    margin-top: 150px;
}
.subsubvideo {
    width: 430px;
    height: 244px;
}
.subsubvideo video {
    width: 100%;
}
.fotos h1 {
    color: #00a801;
    font-size: 45px;
    margin: 15px 0 35px 0;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.fotos ul li {
    text-align: start;
}
.fotos ul {
  padding-left: 20px;
}
/* Parte de la informacion */
.info {
    width: 100%;
    margin-top: 100px;
}
.container {
    width: 100%;
    height: 357px;
    display: flex;
}
.containereverse {
    display: flex;
    flex-direction: row-reverse;
}
.textContainer {
    width: 50%;
    height: 357px;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 136px;
}
.textContainer p {
    font-size: 22px;
}
.imageContainer {
    width: 50%;
    height: 357px;
    background-color: grey;
    overflow: hidden;
}
.imageContainer img {
    width: 100%;
}

/* Penultima parte */

.digitalControl {
    width: 100%;
    display: flex;
}
.textDigital {
    width: 50%;
    padding: 85px 0 85px 85px;
}
.textDigital h1 {
    color: #00a50e;
    font-size: 60px;
    margin: 15px 0 35px 0;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.imgDigital {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Ultima parte */

.contactUs {
    width: 100%;
    display: flex;
}
.questionary {
    width: 60%;
    background-color: rgb(105, 106, 108);
    padding: 95px 100px 95px 210px;
}
.questionary h1 {
    font-size: 50px;
    margin: 15px 0 35px 0;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
}
.questionary p {
    color: white;
}
.questionary input {
    width: 600px;
    height: 40px;
    border-radius: 5px;
    margin: 15px 0 15px 0;
}
.questionary input::placeholder {
    transform: translate(10px, 0px);
}
.questionary .boton2 {
    width: 600px;
    height: 40px;
    background-color: #00a50e;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images {
    width: 40%;
    height: auto;
/*     background-color: grey; */
    background-image: url("Tools/Cuarta-Foto.png");
    background-size: 830px 649px;
}
/* Footer */
footer {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 0 0 0;
}
footer p {
    margin: 15px 0 35px 0;
    font-size: 17px;
}
footer a {
    text-decoration: none;
    color: white;
}

@media (max-width:1696px) {
    .elementsBox1 h1 {
        font-size: 60px;
    }
    .elements2 {
        width: 1400px;
    }
    .container {
        height: 275px;
    }
    .textContainer {
        height: auto;
    }
    .imageContainer {
        height: auto;
    }
    .imageContainer img {
        width: 104%;
    }
    .questionary {
        width: 60%;
        background-color: rgb(105, 106, 108);
        padding: 25px 100px 25px 100px;
    }
    .questionary h1 {
        font-size: 50px;
        margin: 15px 0 35px 0;
        font-family: "Unbounded", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        color: white;
    }
}
@media (max-width: 1429px) {
    .content1 {
        width: 1060px;
        height: 520px;
    }
    .cubeCon1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cubeCon1 img {
        width: 100%;
    }
    .cubeCon2 h1 {
        font-size: 41px;
    }
    .cubeCon2 p {
        font-size: 15px;
    }
    .items {
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .elements2 {
        width: 1100px;
    }
    .fotos {
        width: 330px;
    }
    .foto {
        width: 100%;
        height: 435px;
    }
    .cubeCon2 .bottomMain {
        width: 500px;
    }
    .subsubvideo {
        width: 100%;
    }
} 
@media (max-width: 1200px) {
    .box1 {
        width: 50%;
        background-color: #00a801;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 537px;
    }
    .box1 h1 {
        color: #ffff;
        font-size: 40px;
        margin: 15px 0 35px 0;
        font-family: "Unbounded", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }
    .box1 p {
        color: white;
        margin-bottom: 25px;
        font-size: 14px;
    }
    .box1 .bottomMain {
        width: 450px;
        height: 70px;
        border-radius: 45px;
        display: flex;
        background-color: rgb(238, 255, 4);
        color: black;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        z-index: 10;
        margin-top: 51px;
        box-shadow: 0px 0px;
        transition: 0.2s;
    }
    .box2 {
        width: 50%;
        height: 537px;
        background-color: grey;
        overflow: hidden;
    }
}
@media (max-width:1302px) {
    main {
        max-width: 1105px;
    }
    .elementsBox1 h1 {
        font-size: 49px;
    }
    .box1 .bottomMain {
        width: 480px;
        height: 75px;
    }
}
@media (max-width:1123px) {
    /* Main */
    main {
        max-width: 975px;
    }
    .box1 {
        width: 50%;
        background-color: #00a801;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 537px;
    }
    .elementsBox1 h1 {
        font-size: 38px;
    }
    .box1 p {
        color: white;
        margin-bottom: 25px;
        font-size: 14px;
    }
    .box1 .bottomMain p {
        color: black;
    }
    .box1 .bottomMain {
        width: 396px;
        height: 66px;
    }
    /* 2da parte */
    .content1 {
        width: 850px;
        height: 510px;
    }
    .cubeCon2 h1 {
        font-size: 36px;
    }
    .cubeCon2 p {
        font-size: 15px;
    }
    .cubeCon2 .bottomMain {
        width: 434px;
        height: 55px;
    }
    .videos {
        width: 855px;
        height: 486px;
        display: flex;
        background-color: grey;
    }
    .contentAjust {
        width: 740px;
        text-align: center;
        display: grid;
        place-items: center;
    }
    .videos {
        width: 603px;
        height: 344px;
        display: flex;
        background-color: grey;
    }
    .content2 h1 {
        font-size: 48px;
        color: #00a50e;
        font-family: "Unbounded", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }
    .content2 p {
        font-size: 18px;
    }
    /* Partes de Fotos */
    .fotos {
        width: 260px;
    }
    .elements2 {
        width: 890px;
    }
    .fotos ul li {
        text-align: start;
        font-size: 13px;
    }
    .subsubvideo {
        width: 100%;
        height: 159px;
    }
    /* Tercera parte */
    .textContainer p {
        font-size: 16px;
    }
    /* Antepenultima parte */
    .imgDigital img {
        width: 100%;
    }
    .textDigital {
        display: flex;
        flex-wrap: wrap;
    }
    .textDigital h1 {
        color: #00a50e;
        font-size: 40px;
        margin: 15px 0 35px 0;
        font-family: "Unbounded", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }
    .textDigital p {
        font-size: 15px;
    }
    /* questionario */
    .questionary {
        padding: 25px 106px 28px 28px;
    }
    .questionary h1 {
        font-size: 34px;
    }
}
@media (max-width:995px) {
    main {
        max-width: 960px;
    }
}
@media (max-width:965px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }
    .box1 {
        width: 100%;
        background-color: #00a801;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 0;
        height: 367px;
    }
    .box1 .bottomMain {
        width: 100%;
        height: 66px;
    }
    .box1 .bottomMain p {
        color: black;
        font-size: 20px;
    }
    .elementsBox1 {
        padding: 46px;
    }
    .box2 {
        width: 100%;
    }
    /* Segunda parte */
    .content1 {
        display: grid;
    }
    .content1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 982px;
    }
    .cubeCon1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 560px;
    }
    .cubeCon1 img {
        width: 60%;
    }
    .cubeCon2 .bottomMain {
        width: 100%;
        height: 70px;
    }
    /* Fotos */
    .elements2 {
        width: 80%;
    }
    .fotos {
        width: 215px;
    }
    .foto {
        width: 100%;
        height: 295px;
    }
}
@media (max-width:959px) {
    main {
        max-width: 892px;
    }
    .elements2 {
        display: grid;
    }
    .fotos {
        width: 100%;
        height: auto;
        margin-bottom: 150px;
    }
    .foto {
        width: 100%;
        height: auto;
    }
    .subsubvideo {
        width: 100%;
        height: auto;
    }
    .fotos ul li {
        text-align: start;
        font-size: 20px;
    }
}
/* Inicio de relleno de main */
@media (max-width: 913px) {
    main {
        max-width: 856px;
    }
    .elements2 {
        width: 85%;
    }
}
@media (max-width:874px) {
    main {
        max-width: 824px;
    }
}
@media (max-width:819px) {
    main {
        max-width: 750px;
    }
}
@media (max-width: 765px) {
    main {
        max-width: 698px;
    }
}
@media (max-width:748px) {
    .contentAjust {
        width: 100%;
        text-align: center;
        display: grid;
        place-items: center;
    }
}
@media (max-width:674px) {
    main {
        max-width: 618px;
    }
}
@media (max-width:587px) {
    main {
        max-width: 538px;
    }
    .videos {
        width: 88%;
        height: 282px;
        display: flex;
        background-color: grey;
    }
    .content2 h1 {
        font-size: 36px;
        color: #00a50e;
        font-family: "Unbounded", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }
    .content2 p {
        font-size: 14px;
    }
}
@media (max-width:556px) {
    main {
        max-width: 517px;
    }
    .box1 {
        width: 100%;
        background-color: #00a801;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 0;
        height: 457px;
    }
    .box2 {
        width: 100%;
        height: 440px;
    }
    .content1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 982px;
    }
    .content2 {
        width: 100%;
        display: grid;
        place-items: center;
        background-color: rgb(226, 226, 226);
        padding: 100px 0 100px 0;
    }
    .videos {
        width: 100%;
        height: auto;
        display: flex;
        background-color: grey;
    }
    .contentAjust {
        width: 90%;
        text-align: center;
        display: grid;
        place-items: center;
    }
    .content2 h1 {
        font-size: 28px;
        color: #00a50e;
        font-family: "Unbounded", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }
    .content2 p {
        font-size: 13px;
    }
}
@media (max-width:510px) {
    main {
        max-width: 485px;
    }   
}
@media (max-width:474px) {
    main {
        max-width: 445px;
    }
}
@media (max-width: 440px) {
    main {
        max-width: 410px;
    }
}
@media (max-width: 384px) {
    main {
        max-width: 360px;
    }
    .elementsBox1 h1 {
        font-size: 33px;
    }
    .box1 p {
        color: white;
        margin-bottom: 25px;
        font-size: 12px;
    }
    .box1 .bottomMain {
        width: 100%;
        height: 55px;
    }
}
@media (max-width: 357px) {
    main {
        max-width: 410px;
    }
    .elementsBox1 {
        padding: 14px;
    }
    main {
        max-width: 340px;
    }

}
/* Fin de relleno de main */
@media (max-width: 968px) {
    .container {
        display: grid;
        height: 356px;
    }
    .textContainer {
        height: auto;
        padding: 37px;
        width: 100%;
    }
    .imageContainer {
        height: auto;
        width: 100%;
    }
    .contactUs {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        height: 790px;
    }
    .questionary {
        width: 100%;
        height: 70%;
        padding: 20px;
        text-align: center;
    }
    .questionary input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        margin: 20px 0 26px 0;
    }
    .questionary .boton2 {
        width: 100%;
        height: 40px;
        background-color: #00a50e;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .images {
        width: 100%;
        height: 30%;
        background-image: url(Tools/Cuarta-Foto.png);
        background-size: 830px 649px;
    }
/* Parte Digital Control */
    .digitalControl {
        width: 100%;
        display: grid;
        place-items: center;
        margin: 15px 0 85px;
    }
    .textDigital {
        width: 80%;
        padding: 40px 0px 40px 0px;
        text-align: center;
    }
    footer {
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 45px 50px 0 50px;
        text-align: center;
    }
}